
/*
font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive
*/

body {
  margin: 0px 0px;
  background-color: rgba(102,150,142,1);
}

.main-container {
  width: 1200px;
  height: 100%;
  margin: 20px auto 0px auto;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 6px;
}

.title-container {
  text-align: center;
  margin: 40px auto 20px auto;
}
#title {
  font-size: 40px;
  font-family: sans-serif;
}

.speed-container {
  width: 450px;
  display: flex;
  margin: 10px auto 0px auto;
  /* outline-color: red;
  outline-style: solid;
  outline-width: 1px; */
}
.speed-label {
  font-size: 18px;
}
#speed-slider {
  margin: 0px 10px 0px 10px;
  width: 160px;
}
#speed-input {
  margin-left: 5px;
  margin-right: 10px;
  border-style: none;
  width: 50px;
  height: 26px;
  font-size: 16px;
}
input[type=range]{
    -webkit-appearance: none;
    background-color: rgba(102,150,142,1);
}
input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    background: darkGrey;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: black;
    margin-top: -5px;
}
input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: black;
    margin-top: -5px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}




.keys-container {
  height: auto;
  width: 330px;
  margin: 0px auto 20px auto;
  /* outline-color: darkblue;
  outline-style: solid;
  outline-width: 1px; */
}
.keys-main {
  display: inline-flex;
  height: auto;
  width: auto;
  margin: 0px auto 0px auto;
}
.keys-group-dir {
  margin: 0px 1px 0px 1px;
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 20px 50px 50px;
  background-color: #3e2723;
  padding: 6px;
  border-radius: 4px;
}
.keys-item {
  background-color: lightblue;
  outline: 1px solid #3e2723;
  padding: 20px 0px 0px 0px;
  font-size: 14px;
  text-align: center;
  border-radius: 4px;
}
.gap {
  background-color: #3e2723;
}
.ki-title {
  padding: 2px;
  grid-column-start: 1;
  grid-column-end: 4;
}




.buttons-container {
  width: 310px;
  height: auto;
  margin: 0px auto;
  /* outline-color: green;
  outline-style: solid;
  outline-width: 1px; */
}
.buttons-container button {
  font-weight: 600;
  color: black;
  width: 100px;
  height: 54px;
  background-color: lightgreen;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: green;
}
.buttons-container button:hover {
  background-color: pink;
  border-color: pink;
}
#start-btn {}
#pause-btn {}
#reset-btn {}


.status-container {
  display: grid;
  margin: 12px auto 12px auto;
  width: 360px;
  height: 60px;
  font-size: 16px;
  font-weight: 500;
  grid-template-columns: 120px 120px 120px;
  grid-template-rows: 60px;
  /* outline-color: green;
  outline-style: solid;
  outline-width: 1px; */
}
.mode-container {
  margin: auto auto auto auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  /* outline-color: yellow;
  outline-style: solid;
  outline-width: 1px; */
}
.lastkey-container {
  margin: auto auto auto auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  /* outline-color: yellow;
  outline-style: solid;
  outline-width: 1px; */
}
#lastkey-label {

}
.coords-container {
  margin: auto auto auto auto;
  font-family: 'Roboto', sans-serif;
  /* outline-color: yellow;
  outline-style: solid;
  outline-width: 1px; */
}
#coords {
  margin: auto auto auto auto;
  text-align: center;
}

.canvas-container {
  margin: 20px auto 20px auto;
  width: 1002px;
  height: 802px;
}
#canvas {
  margin: 0px 0px;
  background-color: white;
}


.file-in-container {
  width: 900px;
  height: 100px;
  margin: 10px auto;
  /* outline-color: darkgrey;
  outline-style: solid;
  outline-width: 1px; */
}
.file-group {
  outline-color: grey;
  outline-style: solid;
  outline-width: 1px;
}
.fgl {
  float: left;
}
.fgr {
  float: right;
}
.file-group input {
  margin-top: 10px;
}
.err-msg {
  color: red;
  font-weight: bold;
}


.file-output-container {
  margin: 10px auto 10px auto;
  overflow: auto;
  min-height: 800px;
  height: auto;
  width: 1260px;
  outline-color: green;
  outline-width: 2px;
  outline-style: solid;
}
.out-box {
  min-height: 700px;
  height: auto;
  width: 600px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
/* #stringOutput {
  min-height: 1000px;
  height: auto;
  width: 600px;
} */
.html-out {
  min-height: 1000px;
  height: auto;
  width: 600px;
  background-color: lightgrey;
}
.html-out p {
  font-family: 'Roboto', sans-serif;
  /* font-family: Ariel, sans-serif; */
  /* font-family: Helvetica, sans-serif; */
  margin: 0px 0px;
}
.redNum {
  color: red;
}
.greenString {
  color: green;
}


footer {
  margin: 20px auto auto auto;
}
.social-container {
  width: 70px;
  height: 70px;
  margin: 0px auto;
}
#git-img {
  height: 70px;
  width: 70px;
}
